{% extends 'base.html' %}

{% block extrascripts %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock extrascripts %}

{% block content %}

<h1>Portfolio Analysis</h1>

<form id='form' method="POST"> {% csrf_token %}
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Step 1:</h1>
                <h5 class="w3-padding-32">Enter the stock and crypto tickers of your desired portfolio (seperated by commas).
                </h5>
                <p class="w3-text-grey">Requirements:</p>
                <p class="w3-text-grey">- All stocks must have at least 2 years of historical data</p>
                <p class="w3-text-grey">- A total of 20 stocks (max) and 5 cryptos (max)</p>
            </div>

            <div class="w3-third w3-center">
                <div class='form-group'>
                    <p class="text-left text-danger font-weight-bold"> {{ form.stocks.errors.as_text }} </p>
                    {{ form.stocks }}
                </div>

                <div class='form-group'>
                    <p class="text-left text-danger font-weight-bold"> {{ form.crypto_stocks.errors.as_text }} </p>
                    {{ form.crypto_stocks }}
                </div>
            </div>

        </div>
    </div>

    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>Step 2:</h1>
                <h5 class="w3-padding-32">Enter a user specified parameter \(t\in[0,20]\) where \(t\) is a weighted preference between maximizing return vs. 
                    minimizing risk. A larger value of \(t\) means you have a greater preference to maximize your returns. A low value of \(t\) means you prefer 
                    to minimize the risk of your portfolio. </h5>
            </div>

            <div class="w3-third w3-center">
                <div class='form-group'>
                    <p class="text-left text-danger font-weight-bold"> {{ form.t.errors.as_text }} </p>
                    {{ form.t }}
                </div>
                <div class='form-group'>
                    {{ form.neg_weight }}
                    <label class="form-check-label">Accept negative weights</label>
                </div>
                <button id="btn" type="submit" class="btn btn-primary btn-lg">Run Algorithm!</button>
            </div>

        </div>
    </div>
</form>

<br>

{% if eff_front and port1_table and port2_table %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card" style="height: 100%; width: 100%;">
                <div class="card-header">
                    <p class="card-title h3">Efficient Frontier</p>
                </div>
                <div class="card-body">
                    <img src="data:image/png;base64, {{ eff_front|safe }}" style="width: 100%;">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col" style="width: 100%; height: 75%;">
                    <div class="card" style="width: 100%; height: 75%;">
                        <div class="card-header">
                            <p class="card-title h3">Historical Data</p>
                        </div>
                        <div class="card-body">
                            <div>
                                <ul id='nav' class="nav nav-tabs sales-mini-tabs ml-lg-auto mb-4 mb-md-0" role="tablist">
                                    {% for ticker in ticker_list %}
                                    <li class="nav-item">
                                        <a class="nav-link" id="{{ ticker }}" data-toggle="tab" role="tab"
                                            aria-selected="true">{{ ticker }}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <canvas id="linechart" width="100%"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col" style="width: 100%; height: 25%;">
                    <div class="card" style="width: 100%; height: 25%;">
                        <div class="card-header">
                            <p class="card-title h3">Return and Standard Deviation</p>
                        </div>
                        <div class="card-body">
                            <table class="table table-sm table-striped table-hover text-center">
                                <thead>
                                  <tr>
                                    <th scope="col">Portfolio</th>
                                    <th scope="col">Return</th>
                                    <th scope="col">Risk (Standard Deviation)</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">Stock</th>
                                    <td> {{ x1_return }} </td>
                                    <td>{{ x1_std }}</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">Stock + Crypto</th>
                                    <td> {{ x2_return }} </td>
                                    <td>{{ x2_std }}</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 100%; height: 100%;">
                <div class="card-header">
                    <p class="card-title h3">Stocks Portfolio</p>
                </div>
                <div class="card-body">
                    {{ port1_table|safe }}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 100%; height: 100%;">
                <div class="card-header">
                    <p class="card-title h3">Stocks + Crypto Portfolio</p>
                </div>
                <div class="card-body">
                    {{ port2_table|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
<br>
{% endif %}

{% load static %}

{% include 'historical_chart.html' %}

{% endblock %}